{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden  text-center bg-warning" style="color:rgb(26, 26, 29)">
    <br>


    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <img class="mb-4" src="https://freepngimg.com/download/android/62306-do-task-to-icons-list-item-computer.png"
            alt="" width="120" height="120">
        <p class="lead font-weight-normal">This is a web app designed as a learning project in flask,using sqlalchemy.It
            is only for demo purpose.It is a simple,user friendly and useful app for anybody who wants to create any
            kind of list.Differentiate between the status of tasks using various color codes. Hope you enjoy using it.
        </p>

    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
{% endblock %}